**/.env
**/*.env
**/secrets/*
**/.DS_Store
**/.idea
**/.vscode

**/*.tar
**/*.tar.gz
**/backup/**

**/*wifi.yaml
**/*wifi.yml

**/conf.yaml
**/conf.yml

# Ansible
.vault_pass
**/vault.yaml
**/vault.yml
ansible/**/*.retry

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Claude
.claude/