- Apps:
    - AdventureLog:
        icon: si-openlayers
        href: https://adventurelog.{{ domain }}
        description: Travel and adventure logging

    - Koillection:
        icon: si-blueprint
        href: https://koillection.{{ domain }}
        description: Collection management

    - FileBrowser:
        icon: si-files
        href: https://filebrowser.{{ domain }}
        description: Web file manager

    - Gramps Web:
        icon: mdi-family-tree
        href: https://grampsweb.{{ domain }}
        description: Genealogy and family history

- Admin:
    - Portainer:
        icon: si-portainer
        href: https://portainer.{{ domain }}
        description: Docker container management

    - AdGuard:
        icon: si-adguard
        href: https://adguard.{{ domain }}
        description: DNS ad-blocking

- Monitoring:
    - Uptime Kuma:
        icon: si-uptimekuma
        href: https://uptime-kuma.{{ domain }}
        description: Service uptime monitoring

    - Dozzle:
        icon: mdi-text-box-search-outline
        href: https://dozzle.{{ domain }}
        description: Docker log viewer
