# Share visible name
SMB_NAME_GENERAL=smbsharegeneral

# Login credentials
SMB_USER_GENERAL=username_change_me
SMB_PASS_GENERAL=password_change_me

# File management identity
SMB_UID_GENERAL=1000
SMB_GID_GENERAL=1000

# ---

# Share visible name
SMB_NAME_PRIVATE=smbshareprivate

# Login credentials
SMB_USER_PRIVATE=username_change_me
SMB_PASS_PRIVATE=password_change_me

# File management identity
SMB_UID_PRIVATE=1000
SMB_GID_PRIVATE=1000