# ---- Interface & addressing ----
WIFI_IFACE=wlp2s0

# Static IP
STATIC_IP=192.168.68.xx/24

# Default gateway
GATEWAY=192.168.68.1

# Comma-separated DNS list (no spaces)
DNS=8.8.8.8,1.1.1.1

# ---- Wi-Fi ----
WIFI_SSID=wifinetworkname
WIFI_PASSWORD=wifinetworkpassword
