- Apps:
    - AdventureLog:
        icon: si-openlayers
        href: https://adventurelog.alexserver.home.arpa
        description: Travel and adventure logging

    - Koillection:
        icon: si-blueprint
        href: https://koillection.alexserver.home.arpa
        description: Collection management

    - FileBrowser:
        icon: si-files
        href: https://filebrowser.alexserver.home.arpa
        description: Web file manager

    - Gramps Web:
        icon: mdi-family-tree
        href: https://grampsweb.alexserver.home.arpa
        description: Genealogy and family history

- Admin:
    - Portainer:
        icon: si-portainer
        href: https://portainer.alexserver.home.arpa
        description: Docker container management

    - AdGuard:
        icon: si-adguard
        href: https://adguard.alexserver.home.arpa
        description: DNS ad-blocking

- Monitoring:
    - Uptime Kuma:
        icon: si-uptimekuma
        href: https://uptime-kuma.alexserver.home.arpa
        description: Service uptime monitoring

    - Dozzle:
        icon: mdi-text-box-search-outline
        href: https://dozzle.alexserver.home.arpa
        description: Docker log viewer
