# Frontend
PUBLIC_SERVER_URL=http://server:8000
ORIGIN={{ adventurelog_origin }}
BODY_SIZE_LIMIT=Infinity
FRONTEND_PORT=8015

# PostgreSQL Database
PGHOST=db
POSTGRES_DB=database
POSTGRES_USER={{ adventurelog_db_user }}
POSTGRES_PASSWORD={{ adventurelog_db_password }}

# Django Backend
SECRET_KEY={{ adventurelog_secret_key }}
DJANGO_ADMIN_USERNAME={{ adventurelog_admin_user }}
DJANGO_ADMIN_PASSWORD={{ adventurelog_admin_password }}
DJANGO_ADMIN_EMAIL={{ adventurelog_admin_email }}
PUBLIC_URL={{ adventurelog_public_url }}
CSRF_TRUSTED_ORIGINS={{ adventurelog_csrf_origins }}
DEBUG=False
FRONTEND_URL={{ adventurelog_frontend_url }}
BACKEND_PORT=8016
