########################################################################################################
# WEB
########################################################################################################
APP_DEBUG=0
APP_ENV=prod

HTTPS_ENABLED=1
UPLOAD_MAX_FILESIZE=50M
PHP_MEMORY_LIMIT=512M
PHP_TZ={{ timezone }}

########################################################################################################
# API
########################################################################################################
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem

########################################################################################################
# DATABASE
########################################################################################################
DB_DRIVER=pdo_pgsql
DB_NAME=koillection
DB_HOST=db
DB_PORT=5432
DB_USER=koillection
DB_PASSWORD={{ koillection_db_password }}
DB_VERSION=16
