adventurelog.alexserver.home.arpa {
    reverse_proxy adventurelog-frontend:3000
}

dashy.alexserver.home.arpa {
    reverse_proxy dashy:8080
}

dozzle.alexserver.home.arpa {
    reverse_proxy dozzle:8080
}

filebrowser.alexserver.home.arpa {
    reverse_proxy filebrowser:80
}

grampsweb.alexserver.home.arpa {
    reverse_proxy grampsweb:5000
}

koillection.alexserver.home.arpa {
    reverse_proxy koillection:80
}

portainer.alexserver.home.arpa {
    reverse_proxy portainer:9000
}

uptime-kuma.alexserver.home.arpa {
    reverse_proxy uptime-kuma:3001
}