pageInfo:
  title: alexserver dashy
appConfig:
  auth:
    users:
      - user: username_change_me
        hash: hash_password_change_me
        type: admin
  theme: minimal-dark
  layout: auto
  iconSize: large
sections:
  - name: Management
    icon: fas fa-server
    items:
      # - title: Dashy
      #   icon: fas fa-th-large
      #   url: http://dashy.alexserver.home.arpa
      - title: Dozzle
        icon: fas fa-file-lines
        url: http://dozzle.alexserver.home.arpa
      - title: Portainer
        icon: fab fa-docker
        url: http://portainer.alexserver.home.arpa
      - title: Uptime Kuma
        icon: fas fa-heartbeat
        url: http://uptime-kuma.alexserver.home.arpa
  - name: Services
    icon: fas fa-cubes
    items:
      - title: AdventureLog
        icon: fas fa-map
        url: http://adventurelog.alexserver.home.arpa
      - title: File Browser
        icon: fas fa-folder
        url: http://filebrowser.alexserver.home.arpa
      - title: Gramps Web
        icon: fas fa-tree
        url: http://grampsweb.alexserver.home.arpa
      - title: Koillection
        icon: fas fa-box-archive
        url: http://koillection.alexserver.home.arpa
