# Frontend
PUBLIC_SERVER_URL=http://server:8000 # PLEASE DON'T CHANGE :) - Should be the service name of the backend with port 8000, even if you change the port in the backend service. Only change if you are using a custom more complex setup.
ORIGIN=http://localhost:8086
BODY_SIZE_LIMIT=Infinity
FRONTEND_PORT=8086

# PostgreSQL Database
PGHOST=db
POSTGRES_DB=database
POSTGRES_USER=adventure
POSTGRES_PASSWORD=password_change_me

# Django Backend
SECRET_KEY=key_change_me
DJANGO_ADMIN_USERNAME=admin_change_me
DJANGO_ADMIN_PASSWORD=password_change_me
DJANGO_ADMIN_EMAIL=email_change_me@mail_change_me.com
PUBLIC_URL=http://localhost:8016 # Match the outward port, used for the creation of image urls
CSRF_TRUSTED_ORIGINS=http://localhost:8016,http://localhost:8086
DEBUG=False
FRONTEND_URL=http://localhost:8086 # Used for email generation. This should be the url of the frontend
BACKEND_PORT=8016
